.nav {
    grid-area: nav;
    background-color: lightseagreen;
    padding: 10px;
}

.item a {
    color: white;
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

.item a.activeLink {
    color: blueviolet;
}